.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "title title"
        "header header"
        "content content"
        "sidebar sidebar"
        "footer footer";
    grid-gap: 10px;
    
    @media screen and (min-width: 736px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /*
        Allows changing the areas (order and extension) ❤️
        To add a blank space, use .

        grid-template-areas:
        "title ." <- will leave a blank next to title
        "header header";
        */
        grid-template-areas: 
        "title title"
        "header header"
        "sidebar content"
        "footer footer";
    }

    div {
        padding: 1em;

        &:nth-child(even) {
            background-color: red;
        }

        &:nth-child(odd) {
            background-color: green;
        }
    }

    .title {
        grid-column: 1/3;
        // or using span
        // grid-column: span 2;
        grid-area: title;
    }

    .header {
        grid-area: header;
    }

    .sidebar {
        grid-area: sidebar;
    }

    .content {
        grid-area: content;
    }

    .footer {
        grid-area: footer;
    }
}
