@charset "UTF-8";
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "title title" "header header" "content content" "sidebar sidebar" "footer footer";
  grid-gap: 10px; }
  @media screen and (min-width: 736px) {
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      /*
        Allows changing the areas (order and extension) ❤️
        To add a blank space, use .

        grid-template-areas:
        "title ." <- will leave a blank next to title
        "header header";
        */
      grid-template-areas: "title title" "header header" "sidebar content" "footer footer"; } }
  .grid div {
    padding: 1em; }
    .grid div:nth-child(even) {
      background-color: red; }
    .grid div:nth-child(odd) {
      background-color: green; }
  .grid .title {
    grid-column: 1/3;
    grid-area: title; }
  .grid .header {
    grid-area: header; }
  .grid .sidebar {
    grid-area: sidebar; }
  .grid .content {
    grid-area: content; }
  .grid .footer {
    grid-area: footer; }
